Assets/2DTilezoneFiles.meta
Assets/2DTilezoneFiles/AutoTileFiles.meta
Assets/2DTilezoneFiles/AutoTileFiles/dirt-tiles_Background Dirt.atd
Assets/2DTilezoneFiles/AutoTileFiles/dirt-tiles_Background Dirt.atd.meta